body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
}

#board {
    background-color: black;
}